/*Colour Setup*/
:root {
  --navColour: #cfcfcf;
  --mainDark: #181818;
  --greyDark: rgb(104, 104, 104);
  --white: #ffffff;
  --orange: #fd9e45;
  --teal: #43d9ff;
}
.body {
  font-family: "Share Tech Mono", monospace !important;
  font-size: 1.5rem !important;
  color: var(--navColour);
}
.title {
  font-family: "Share Tech Mono", monospace !important;
  text-transform: uppercase !important;
  font-weight: bold;
  font-size: 3rem !important;
  color: var(--orange);
}
.nav-link {
  font-family: "Share Tech Mono", monospace !important;
  text-transform: uppercase !important;
  font-size: 2rem !important;
}
.center {
  text-align: left;
  position: fixed;
  top: 50%;
}
.bg-image {
  background: url("http://www.seekgif.com/uploads/2017/07/pics-photos-professional-background-designs-image-31.jpeg")
    no-repeat fixed;
  min-height: 100vh;
  object-fit: cover;
  background-size: cover;
}
.port-contain {
  border-radius: 7px;
  background-color: var(--mainDark);
  padding: 15px;
}
.socials-footer {
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0;
  bottom: 0;
  padding-bottom: 0.5em;
  text-align: right;
}
.socials-footer .socials-icons a {
  display: inline-block;
  width: 60px;
  border-radius: 2px;
  font-size: 45px;
  color: var(--maindark);
  text-align: center;
  line-height: 25px;
  margin-right: 0px;
}
.socials-icons a:hover {
  color: var(--greyDark);
  transition: all 0.5s ease-in-out;
}
